@using Microsoft.AspNetCore.Http
<div id="menu">
    <div class="pure-menu">
        <a class="pure-menu-heading" href="@Url.Action("Index", "Home")">
            @{
                var userName = Context.Session.GetString("_userName");
                if (!string.IsNullOrEmpty(userName))
                {
                    @Html.Raw(userName);
                }
                else
                {
                    @Html.Raw("Neural nets");
                }
            }
        </a>
        <ul id="notLoggedIn" class="pure-menu-list hidden">
            <li class="pure-menu-item @(Context.Request.Path.Value.Contains("login", StringComparison.InvariantCultureIgnoreCase) ? "menu-item-divided pure-menu-selected" : "")"><a href="@Url.Action("Login", "Home")" class="pure-menu-link translate">LOGIN_TEXT</a></li>
            <li class="pure-menu-item @(Context.Request.Path.Value.Contains("register", StringComparison.InvariantCultureIgnoreCase) ? "menu-item-divided pure-menu-selected" : "")"><a href="@Url.Action("Register", "Home")" class="pure-menu-link translate">REGISTER_TEXT</a></li>
        </ul>
        <ul id="loggedIn" class="pure-menu-list hidden">
            <li class="pure-menu-item @(Context.Request.Path.Value.Contains("neuralnetslist", StringComparison.InvariantCultureIgnoreCase) ? "menu-item-divided pure-menu-selected" : "")"><a href="@Url.Action("NeuralNetsList", "Home")" class="pure-menu-link translate">MENU_NEURALNETSLIST</a></li>
            <li class="pure-menu-item" id="logoutLink"><a href="#" class="pure-menu-link translate">LOGOUT_TEXT</a></li>
        </ul>
    </div>
    <div id="footerLoggedIn" class="pure-menu-footer hidden">
        <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-link" id="langENG"><a href="#">English</a></li>
            <li class="pure-menu-item pure-menu-link" id="langPL"><a href="#">Polski</a></li>
        </ul>
    </div>
</div>
